*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;

}

body{
   font-family: 'open sans';

}



.titulo{
   color: rgb(137, 226, 137);
   font-size: 30px;
   text-align: center;
   margin: 60px;
}
/*header*/
header{
   width: 100%;
   height: 600px;
   background: #34e89e; /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, hsla(155, 66%, 35%, 0.541), hsla(181, 78%, 46%, 0.906)), url(../imagenes/frente2.jpg); 
   background: linear-gradient(to right, hsla(155, 66%, 35%, 0.541), hsla(181, 78%, 46%, 0.906)), url(../imagenes/frente2.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   background-size: cover;
   background-attachment: fixed;
   position: relative;
}

nav{
   text-align: right;
   padding: 30px 50px 0 0;
}
nav > a{
   color:#fff;
   font-weight: 300 ;
   text-decoration: none;
   margin-right: 10px;
}
nav > a:hover{

   text-decoration: underline;
}

header .textos-header{
   display: flex;
   height: 430px;
   width: 100%;
   align-items: center;
   justify-content: center;
   text-align: center;
}

.textos-header h1{
   font-size: 50px;
   color:#fff
}
.textos-header h2{
   font-size: 30px;
   font-weight:300 ;
   color:#fff
}

/*sobre nosotros*/
.contenedor-sobre-nosotros{
   /*display:flex ;*/
   /*justify-content: space-evenly;*/
   text-align: center;
  

   

}

.temporadas{
   background:#fff ;
}
.galeria-temp{
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
}
.imagen-temp{
   height: 40%;
   width: 40%;
   padding: 10px ;
   overflow: hidden;
   position: relative;
   cursor: pointer;
   box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}
.imagen-temp > img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   display: block;

}
.hover-galeria{
   position: absolute;
   width: 100%;
   height: 100%;
   top:0;
   transform: scale(0);
   background:hsla(179, 82%, 69%, 0.495) ;
   transition: transform .5s;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.hover-galeria img{
   width: 50px;
}
.hover-galeria p{
   color: #fff;
}

.imagen-temp:hover .hover-galeria{
   transform: scale(1);

}

/*clientes*/
.cards{
   display: flex;
   justify-content: space-evenly;
}

.cards .card{
   background: #34e89e;
   display: flex;
   width: 46%;
   height: 200px;
   align-items: center;
   justify-content: space-evenly;
   border-radius: 5px;
   box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}
.cards .card img{
   width: 100px;
   height: 100px;
   object-fit: cover;
   border: 3px solid #fff;
   border-radius: 50%;
   display: block;

}
.cards .card > .contenido-texto-card{
   width: 60%;
   color: #fff;

}

.cards .card > .contenido-texto-card{
   font-weight: 300;
   padding-top: 5px;
}

/*servicios*/
/*.grid{
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   gap: 20px;
   
}

.servicio-ind{
   position: relative;	
   left: 100px;	
   top: 100px;
}*/

.servicios{
   background:#fff ;
}
.our{
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
}
.servicio-cont{
   height: 40%;
   width: 40%;
   padding: 10px ;
   overflow: hidden;
   position: relative;
   cursor: pointer;
   box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}
.servicio-ind > img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   display: block;

}

.hover-servicios{
   position: absolute;
   width: 100%;
   height: 100%;
   top:0;
   transform: scale(0);
   background:hsla(249, 54%, 73%, 0.495) ;
   transition: transform .5s;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

}

.hover-servicios img{
   width: 50px;
}
.hover-servicios p{
   color: #fff;
}

.servicio-ind:hover .hover-servicios{
   transform: scale(1);

}


/*footer*/
footer{
   background: #414141;
   padding: 60px 0 30px 0;
   margin: auto;
   overflow: hidden ;
}
.contenedor-footer{
   display: flex;
   width: 90%;
   justify-content: space-evenly;
   margin:auto;
   padding-bottom: 50px;
   border-bottom:1px solid #ccc ;

}
.content-foo{
   text-align: center;
}
.content-foo h4{
   color: #fff;
   border-bottom: 3px solid #27d68d ;
   padding-bottom: 5px;
   margin-bottom: 10px;
}

.content-foo p{
   color: #fff;
   border-bottom: 3px solid #05663c ;
   padding-bottom: 5px;
   margin-bottom: 10px;
}
.formulario{
   background-color: #414141;
   text-align: center;
}